@import 'tailwindcss';

@layer utilities {
	.flex-center,
	.flex-centre {
		@apply flex items-center justify-center;
	}
}

@theme {
	--color-primary: rgb(var(--v-theme-primary));
	--color-secondary: rgb(var(--v-theme-secondary));
	--breakpoint-3xl: 1924px;
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
	@media (width >= theme(--breakpoint-sm)) {
		padding-inline: 2rem;
	}
	@media (width >= theme(--breakpoint-lg)) {
		padding-inline: 4rem;
	}
	@media (width >= theme(--breakpoint-xl)) {
		padding-inline: 5rem;
	}
	@media (width >= theme(--breakpoint-2xl)) {
		padding-inline: 6rem;
	}
}
